---
// Code fences can be removed when frontmatter is empty.
---

<div class="nav-links">
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/blog/">Blog</a>
	<a href="/tags/">Tags</a>
</div>
